In [17]:
import pandas as pd
import numpy as np
from numpy import random
import scipy 
import matplotlib as mpl
import math as mt
import statistics as stat

In [3]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)
print(dataOne)

[[1.19292523e-01 4.27390439e-01 1.00504486e-01 3.21346268e-01
  2.65779819e-01]
 [3.62375955e-02 9.80877148e-01 8.97773499e-04 8.47573464e-01
  3.35706224e-01]
 [5.14477057e-01 2.53613084e-01 4.82001093e-01 4.33957983e-01
  5.10576501e-02]
 [3.34349673e-02 1.75103738e-01 6.47649773e-01 1.85895899e-01
  8.99890750e-01]
 [8.36990661e-01 5.31250075e-01 8.02845829e-01 4.18455466e-01
  2.47585073e-01]]

In [4]:
np.mean(dataOne)

0.39799259346385363

In [5]:
mt.fsum(dataOne)

TypeError: only size-1 arrays can be converted to Python scalars

In [12]:
np.sum(dataOne)

9.94981483659634

In [18]:
stat.mean(dataOne)

TypeError: can't convert type 'ndarray' to numerator/denominator

In [19]:
np.mean(dataOne)

0.39799259346385363

In [21]:
np.round_(dataOne, decimals=2)

array([[0.12, 0.43, 0.1 , 0.32, 0.27],
       [0.04, 0.98, 0.  , 0.85, 0.34],
       [0.51, 0.25, 0.48, 0.43, 0.05],
       [0.03, 0.18, 0.65, 0.19, 0.9 ],
       [0.84, 0.53, 0.8 , 0.42, 0.25]])

In [22]:
print('I Love Data Science')

I Love Data Science

In [24]:
variableName = 25
print(variableName)
variableName1 = 'I Love Data Science'
print(variableName1)

25
I Love Data Science

In [26]:
type(variableName)
variableName2 = 25.0
type(variableName2)

float

In [28]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [29]:
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
varOne = 25
varTwo = 'Hello'
strVarOne = str(varOne)
varThree = strVarOne + varTwo
print(varThree)

25Hello

In [32]:
sample = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
sample['one']

1

In [41]:
abs = mt.fabs(sample['one']+sample['five'])
print(abs)

6.0

In [42]:
gcd = mt.gcd(sample['two'], sample['four'])
print(gcd)

2

In [43]:
sqrt = mt.sqrt(sample['four'])
print(sqrt)

2.0

In [54]:
##Load csv file
credit = pd.read_csv(r'C:\Users\Richard\Downloads\Data Analytics 2019\Course 5\default of credit card clients.csv', header=1)
credit.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

#### Review of errors and warning messages encountered during the tutorial: 

 - "only size-1 arrays can be converted to Python scalars" 
 - "can't convert type 'ndarray' to numerator/denominator
   - Generated when attempting to pass numpy array into a math/stat functions that expect a different data type. 
   - Moved on from this error by using functions built into the numpy library.
 - "unsupported operand type(s) for +; 'int' and 'str'"
   - Generated when attempting to add a string and an integer.
   - Moved on from this error by changing the integer to a string and then performing the addition.

#### Lessons learned: 
 - Installation and use of python was very straightforward when accessing Jupyter Notebook through Anaconda
 - The general tutorial was fairly simple. The Whirlwind Tour of Python was more detailed and conveyed a suitable amount of basic information regarding Python. 
 - The main takeaway from the tutorial was practicing shifting my mindset from one that thinks in R syntax to Python syntax.